.link {
  font-style: normal;
}
.profile-pic {
  height: 28px;
  width: 28px;
  border-radius: 25px;
}
.post-username {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  margin-left: 5px;
  outline-style: none;
}
.posts-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.profile-username-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
}
.search-post-image {
  width: 100%;
  height: 375px;
}

.reactions-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-left: -5px;
  height: 30px;
}
.like-icon {
  height: 22px;
  width: 28px;
  margin-left: 10px;
}
.share-icon {
  margin-left: 10px;
  height: 22px;
  width: 22px;
}
.liked-icon {
  height: 34px;
  width: 28px;
  margin-left: 10px;
}
.comment-icon {
  margin-left: 10px;
  height: 22px;
  width: 22px;
}
.like-button {
  background: transparent;
  border: none;
  margin-top: 5px;
  margin-right: -2px;
}
.likes {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.07px;
  color: #262626;
  margin-left: 15px;
}
.caption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.07px;
  color: #262626;
  margin-left: 15px;
}
.created {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.05px;
  color: #989898;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .post-username {
    font-size: 22px;
    margin-left: 15px;
  }
  .posts-main-container {
    width: 1040px;
  }
  .profile-username-container {
    width: 1040px;
    height: 60px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    border-radius: 4px 4px 0px 0px;
    margin-top: 50px;
    margin-left: -0.5px;
  }
  .search-post-image {
    width: 1040px;
    height: 1000px;
  }
  .desktop-styling-posts {
    width: 1040px;
    height: 194px;
    left: 0px;
    background: #ffffff;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    margin-top: -5px;
  }
  .profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-left: 15px;
  }
  .likes {
    font-size: 14px;
  }
  .caption {
    font-size: 14px;
  }
  .created {
    font-size: 14px;
  }
  .text-container {
    height: 194px;
  }
}